* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open sans;
}
:root {
  --background-main-color: #f6e9e9;
}
body {
  width: 100%;
  background: var(--background-main-color);
  display: flex;
  justify-content: center;
}
main {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  background: var(--background-main-color);
}
#root {
  height: 100%;
}
/* Contact list Screen */
#contact-list-screen {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: left;
  background: var(--background-main-color);
}
/*Filter*/
#search-section {
  position: fixed;
  width: inherit;
  top: 73px;
  padding-top: 20px;
  padding-bottom: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  background: var(--background-main-color);
}
#search-bar {
  font-size: 15px;
  padding: 10px;
  padding-left: 15px;
  width: 100%;
  color: gray;
  outline: 0;
  border-radius: 20px;
  border: 0.5px solid #e63b3b;
}
h1 {
  position: fixed;
  top: 0;
  width: inherit;
  font-size: 24px;
  font-weight: 600px;
  color: black;
  background: #e63b3b;
  color: white;
  padding: 12px;
  padding-left: 15px;
  margin-top: 10px;
}
#list {
  margin-top: 123px;
  margin-bottom: 5px;
}
.contact {
  display: flex;
  align-items: center;
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 10px;
  color: white;
  background: #ee4a4a;
  padding: 10px;
}
.contact span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
  border: 2px solid var(--background-main-color);
  background: var(--background-main-color);
  color: #ee4a4a;
}
.contact:hover {
  cursor: pointer;
  background: #df2626;
}
#new-contact-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #df2626;
  border: none;
  width: 55px;
  height: 55px;
  top: 70vh;
  font-size: 25px;
  border-radius: 50px;
  color: var(--background-main-color);
  margin-left: 440px;
  box-shadow: 1px 3px 12px #df2626;
}
#new-contact-btn:hover {
  cursor: pointer;
}

/* Contact Details Display */
.box {
  padding: 30px 20px;
}
.top-btns,
#edit-screen-btns {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.back-to-home-btn,
.edit-btn {
  background: black;
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  width: 120px;
  border: none;
  color: white;
}
.back-to-home-btn:hover,
.edit-btn:hover {
  cursor: pointer;
}
.full-name {
  font-size: 28px;
  color: black;
  margin-bottom: 10px;
  font-weight: 500;
}
.contact-label {
  font-size: 15px;
  color: black;
  margin-bottom: 5px;
  font-weight: 300;
}
.label-content {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  font-weight: 400;
}
.phone-flex,
.email-flex,
.phone-flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone-flex-2 {
  width: 130px;
}

/* Add and edit contact form */
#edit-screen,
#contact-form-screen {
  padding: 30px 20px;
}
label {
  font-size: 16px;
  color: black;
}
#firstname,
#edit-firstname,
#lastname,
#edit-lastname,
#edit-phonenumber,
#phonenumber,
#email,
#edit-email {
  width: 100%;
  background: inherit;
  padding: 5px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
  outline: 0;
  border: none;
  border-bottom: solid grey 1px;
}
#firstname:focus,
#edit-firstname:focus,
#lastname:focus,
#edit-lastname:focus,
#edit-phonenumber:focus,
#phonenumber:focus,
#email:focus,
#edit-email:focus {
  border-bottom: solid #e63b3b 1px;
}
#update-btn,
#save-contact-btn {
  background: black;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 50px;
}
#update-btn:hover,
#save-contact-btn:hover {
  cursor: pointer;
}
#cancel-btn {
  margin-bottom: 30px;
  width: 100%;
  font-size: 16px;
  border-radius: 50px;
  background: #df2626;
  border: none;
  color: white;
  padding: 10px;
}
#cancel-btn:hover {
  cursor: pointer;
}

/* Edit Contact Section */
#cancel-edit-btn {
  font-size: 16px;
  border-radius: 50px;
  width: 120px;
  background: #ee4a4a;
  border: none;
  color: white;
  padding: 10px;
}
#cancel-edit-btn:hover {
  cursor: pointer;
}
#delete-btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  width: 120px;
  background: #e63b3b;
  border: none;
  color: white;
}
#delete-btn:hover {
  cursor: pointer;
}

.email,
.call,
.message {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-main-color);
  border: 1px solid #e63b3b;
  border-radius: 50px;
  font-size: 17px;
  color: #e63b3b;
}
.email:hover,
.call:hover,
.message:hover {
  color: var(--background-main-color);
  border: 1px solid #e63b3b;
  background: #e63b3b;
}

@media only screen and (max-width: 520px) {
  main {
    width: 400px;
  }
  #contact-list-screen {
    width: 400px;
  }
  #new-contact-btn {
    margin-left: 300px;
    top: 75vh;
  }
}
@media only screen and (max-width: 450px) {
  main {
    width: 340px;
    overflow-x: hidden;
  }
  #contact-list-screen {
    width: 340px;
  }
  .label-content {
    font-size: 18px;
    line-break: anywhere;
  }
}
@media only screen and (max-width: 400px) {
  #new-contact-btn {
    margin-left: 265px;
  }
}
